
.holy-grail {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.columns {
  display: flex;
  flex: 1;
}

.hg-header,
.hg-nav,
.hg-main,
.hg-aside,
.hg-footer {
  padding: 12px;
  text-align: center;
}

.hg-header {
  background-color: tomato;
  height: 60px;
}

.hg-nav {
  background-color: coral;
  width: 100px;
  flex-shrink: 0; /* Prevents the navigation from shrinking when the content in <main> is too wide.*/
}

.hg-main {
  background-color: moccasin;
  flex-grow: 1;
}


.hg-aside {
  background-color: sandybrown;
  width: 100px;
  flex-shrink: 0; /* Prevents the sidebar from shrinking when the content in <main> is too wide.*/
}

.hg-footer {
  background-color: slategray;
  height: 100px;
}
