.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 240px;
  height: 240px;
}

.cell {
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;
}

.red {
  background-color: #ff3333;
}

.blue {
  background-color: #33ccff;
}