.light-grid {
    display: grid;
    gap: 0.3125rem;
    grid-template-columns: repeat(3, 1.875rem);
}

.light {
    border: 1px solid black;
    height: 1.875rem;
    aspect-ratio: 1/1;
}

.light-on {
    background-color: green;
}