.tweet {
    display: flex;
    gap: 12px;
    background-color: #fff;
    border: 1px solid #cfd9de;
    border-radius: 16px;
    padding: 12px;
}

.tweet-avatar {
    --thumbnail-size: 48px;

    border-radius: var(--thumbnail-size);
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
}

.tweet-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tweet-author-name {
    font-weight: bold;
}

.tweet-handle {
    color: #71767b;
}


.action-row {
    color: #536471;
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    /* restricting width of action row */
    max-width: 425px;
    font-size: 13px;
}

.action-item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.first-row {
    display: flex;
    align-items: center;
    gap: 4px;
}

.action-icon {
 height: 16px;
 width: 16px;
}